@using BlazorDemo.Shared
@inject HttpClient Http

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ClientSideBlazor</a>
    <button class="navbar-toggler" @onclick="@ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="@ToggleNavMenu">

    @if (menulist == null)
    {
        <p><em>Loading ...</em></p>
    }
    else
    {
<ul class="nav flex-column">
    @foreach (var mn in menulist)
        {
            <AuthorizeView Policy= "@mn.PolicyName">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="@mn.MenuName">
                        <span class="@mn.IconName" aria-hidden="true"></span> @mn.PageName
                    </NavLink>
                </li>
            </AuthorizeView>
        }
</ul>
    }
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private Menu[] menulist;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    protected override async Task OnInitializedAsync()
    {
        menulist = await Http.GetFromJsonAsync<Menu[]>("api/Menu");
        Console.WriteLine(menulist);
    }
}
